body {
  font-family: Gill Sans, sans-serif;
  background-color: salmon;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link{
  display: flex;
  width : 400px;
  justify-content: space-around;
}